code {
  color: #a64d79;
  background-color: #ead1dc;
  border-radius: 0.1em;
}

.ruby-red { color: #cc342d; }
.no-text-transform { text-transform: none; }

.reveal h4 {
  color: #a03838;
}

ul.custom-list {
  max-width: 800px;
  list-style-type: square;
}

ul.custom-list > li {
  font-size: 0.8em;
  top: 15px;
  margin-bottom: 15px;
}
